/* ==========================================
   GOOGLE FONT
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



/* ==========================================
   RESET
========================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


html{

scroll-behavior:smooth;

}


body{

background:#ECECEC;

color:#111111;

overflow-x:hidden;

}




/* ==========================================
   COLORS
========================================== */


:root{

--primary:#111111;

--secondary:#6B7280;

--border:#D1D5DB;

--background:#ECECEC;

--white:#ffffff;

--card:#F8F8F8;

--shadow:

0 10px 30px rgba(0,0,0,.05);


}




/* ==========================================
   REUSABLE
========================================== */


.container{

width:90%;

max-width:1200px;

margin:auto;

}



.page{

padding:120px 0;

}



.section{

padding:100px 0;

}



.section-title{


font-size:65px;

font-weight:800;

line-height:1;

text-transform:uppercase;

margin-bottom:30px;


}



.subtitle{


font-size:18px;

font-weight:400;

color:var(--secondary);

line-height:1.8;


}



.divider{


width:100px;

height:2px;

background:black;

margin:30px 0;


}



.small-text{


font-size:14px;

color:gray;


}





/* ==========================================
   NAVBAR
========================================== */


header{


position:fixed;

top:0;

left:0;

width:100%;

z-index:999;


backdrop-filter:blur(20px);

background:

rgba(236,236,236,.85);



border-bottom:

1px solid rgba(0,0,0,.08);



}



nav{


width:90%;

max-width:1200px;

margin:auto;



display:flex;

justify-content:space-between;

align-items:center;



padding:25px 0;



}




.logo{


font-size:24px;

font-weight:800;

letter-spacing:2px;


}




nav ul{


display:flex;

gap:35px;


list-style:none;



}



nav ul li a{


text-decoration:none;

font-size:15px;

font-weight:500;


color:black;



position:relative;



transition:.3s;


}




nav ul li a:hover{


color:#6B7280;


}





nav ul li a::after{


content:"";


position:absolute;


bottom:-8px;

left:0;



width:0;


height:2px;


background:black;


transition:.3s;


}




nav ul li a:hover::after{


width:100%;


}




.active{


font-weight:700;


}




/* ==========================================
   BUTTONS
========================================== */



.btn{


display:inline-block;



padding:

14px 35px;



background:black;


color:white;


text-decoration:none;



font-size:15px;



border-radius:50px;



transition:.4s;



}





.btn:hover{


background:#333;



transform:translateY(-3px);



box-shadow:

var(--shadow);



}




.btn-outline{


display:inline-block;



padding:

14px 35px;



border:


1px solid black;



color:black;



text-decoration:none;



border-radius:50px;



transition:.4s;



}




.btn-outline:hover{


background:black;


color:white;



box-shadow:

var(--shadow);


}





/* ==========================================
   IMAGE STYLE
========================================== */


.profile-img{


width:400px;


height:500px;


object-fit:cover;


border-radius:10px;



box-shadow:


var(--shadow);



transition:.4s;


}




.profile-img:hover{


transform:translateY(-8px);



}




/* ==========================================
   CARD
========================================== */


.card{


background:


var(--card);



padding:30px;



border-radius:10px;



box-shadow:


var(--shadow);



transition:.4s;



}




.card:hover{


transform:


translateY(-8px);



}




/* ==========================================
   FOOTER INFO
========================================== */


.footer-info{


margin-top:50px;



font-size:14px;



color:gray;


}

/*=========================================
HOME
=========================================*/

.hero{

min-height:100vh;

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

align-items:center;

padding-top:120px;

}



.hero-left{

display:flex;

flex-direction:column;

justify-content:center;

}



.hero-small{

font-size:16px;

font-weight:500;

color:gray;

margin-bottom:20px;

}



.hero-title{

font-size:90px;

font-weight:800;

line-height:.95;

text-transform:uppercase;

margin-bottom:30px;

}



.hero-subtitle{

font-size:20px;

font-weight:400;

color:#6B7280;

margin-bottom:40px;

}



.hero-social{

display:flex;

gap:25px;

margin-top:40px;

}



.hero-social a{

text-decoration:none;

color:black;

font-size:15px;

font-weight:500;

transition:.3s;

}



.hero-social a:hover{

opacity:.6;

}



.hero-right{

display:flex;

justify-content:flex-end;

}



.hero-image{

width:420px;

height:550px;

object-fit:cover;

border-radius:10px;

box-shadow:var(--shadow);

}




/*=========================================
ABOUT
=========================================*/


.about-section{


padding:120px 0;


}



.about-container{


display:grid;


grid-template-columns:

450px 1fr;



gap:80px;



align-items:center;


}



.about-image{


width:100%;


height:600px;



object-fit:cover;



border-radius:10px;



box-shadow:var(--shadow);



}




.about-content{


display:flex;


flex-direction:column;



justify-content:center;


}




.about-title{


font-size:80px;


font-weight:800;



line-height:.9;



text-transform:uppercase;



margin-bottom:30px;


}




.about-text{


font-size:18px;


line-height:2;



color:#555;



margin-bottom:30px;


}




.about-info{


display:grid;



grid-template-columns:

1fr 1fr;



gap:20px;


}



.info-box{


padding:25px;



background:white;



border-radius:10px;



box-shadow:var(--shadow);


}




.info-box strong{


display:block;



margin-bottom:10px;



font-size:14px;



text-transform:uppercase;


}




.info-box span{


font-size:16px;



color:#666;


}





/*=========================================
ACADEMIC
=========================================*/


.education{


padding:120px 0;


}



.education-container{


display:grid;



grid-template-columns:

400px 1fr;



gap:80px;



align-items:center;


}



.education-image{


width:100%;


height:550px;


object-fit:cover;



border-radius:10px;



box-shadow:var(--shadow);


}




.education-right{


display:flex;


flex-direction:column;


}



.education-title{


font-size:80px;


font-weight:800;


line-height:.9;



text-transform:uppercase;


}




.education-desc{


font-size:18px;



line-height:1.8;



color:#666;



margin-top:30px;


}




.educations{


margin-top:40px;


}




.edu-item{


padding:30px 0;



border-bottom:

1px solid #D1D5DB;


}




.edu-top{


display:flex;



justify-content:space-between;



align-items:center;


}




.edu-top h2{


font-size:26px;


font-weight:700;


}




.edu-year{


font-size:15px;



padding:

8px 18px;



background:black;



color:white;



border-radius:30px;


}




.edu-course{


margin-top:15px;



font-size:18px;



color:#666;


}




.edu-item:hover{


padding-left:20px;



transition:.4s;


}




/*=========================================
RESPONSIVE
=========================================*/


@media(max-width:991px){


.hero{


grid-template-columns:1fr;


text-align:center;


}


.hero-right{


justify-content:center;


}


.hero-title{


font-size:60px;


}


.about-container{


grid-template-columns:1fr;


}


.education-container{


grid-template-columns:1fr;


}


.about-title{


font-size:55px;


}


.education-title{


font-size:55px;


}


.hero-image{


width:100%;


max-width:400px;


height:500px;


}


}



@media(max-width:768px){


.hero-title{


font-size:45px;


}


.about-title{


font-size:45px;


}


.education-title{


font-size:45px;


}


.about-info{


grid-template-columns:1fr;


}


.edu-top{


flex-direction:column;


align-items:flex-start;


gap:15px;


}


}

/* ==========================================
   PROJECTS
========================================== */

.projects{

padding:120px 0;

}


.project-grid{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:40px;

margin-top:60px;

}


.project-card{

background:white;

padding:30px;

border-radius:10px;

box-shadow:var(--shadow);

transition:.4s;

overflow:hidden;

}


.project-card:hover{

transform:translateY(-10px);

}


.project-image{

width:100%;

height:280px;

object-fit:cover;

border-radius:10px;

margin-bottom:25px;

}


.project-card h2{

font-size:32px;

margin-bottom:15px;

font-weight:700;

}


.project-card p{

line-height:1.8;

color:#666;

margin-bottom:25px;

}


.project-btn{

text-decoration:none;

font-weight:600;

color:black;

}


.project-btn:hover{

opacity:.7;

}




/* ==========================================
   QUALITIES
========================================== */

.skills{

padding:120px 0;

}


.skills-container{

display:grid;

grid-template-columns:
1fr 1fr;

gap:50px;

margin-top:50px;

}


.skill-box{

padding:40px;

background:white;

border-radius:10px;

box-shadow:var(--shadow);

transition:.4s;

}


.skill-box:hover{

transform:translateY(-8px);

}


.skill-box h2{

font-size:28px;

margin-bottom:20px;

}


.skill-box p{

line-height:1.9;

color:#666;

}




/* ==========================================
   ACHIEVEMENTS
========================================== */

.achievements{

padding:120px 0;

}


.achievement-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:30px;

margin-top:50px;

}


.achievement-card{

background:white;

padding:50px;

border-radius:10px;

text-align:center;

box-shadow:var(--shadow);

transition:.4s;

}


.achievement-card:hover{

transform:translateY(-10px);

}


.achievement-card h2{

font-size:55px;

margin-bottom:20px;

}


.achievement-card h3{

font-size:20px;

margin-bottom:15px;

}


.achievement-card p{

color:#666;

}




/* ==========================================
   CONTACT
========================================== */


.contact{

padding:120px 0;

}


.contact-container{

display:grid;

grid-template-columns:
1fr 1fr;

gap:80px;

align-items:center;

}


.contact-title{

font-size:80px;

font-weight:800;

line-height:.9;

text-transform:uppercase;

margin-bottom:40px;

}


.contact-info{

display:flex;

flex-direction:column;

gap:20px;

}


.contact-item{

font-size:18px;

font-weight:500;

color:#555;

}


.contact-form{

display:flex;

flex-direction:column;

gap:25px;

}


.contact-form input{

padding:18px;

border:none;

border-radius:8px;

background:white;

box-shadow:var(--shadow);

}


.contact-form textarea{

padding:18px;

height:180px;

resize:none;

border:none;

border-radius:8px;

background:white;

box-shadow:var(--shadow);

}


.contact-form button{

padding:18px;

background:black;

color:white;

border:none;

border-radius:50px;

cursor:pointer;

font-size:16px;

transition:.3s;

}


.contact-form button:hover{

background:#333;

}




/* ==========================================
   FOOTER
========================================== */


footer{

padding:50px 0;

text-align:center;

font-size:14px;

color:#666;

}


.footer-social{

margin-top:20px;

display:flex;

justify-content:center;

gap:30px;

}


.footer-social a{

text-decoration:none;

color:black;

font-weight:500;

}


.footer-social a:hover{

opacity:.6;

}




/* ==========================================
   FINAL RESPONSIVE
========================================== */


@media(max-width:991px){


.project-grid{

grid-template-columns:1fr;

}


.skills-container{

grid-template-columns:1fr;

}


.achievement-grid{

grid-template-columns:1fr;

}


.contact-container{

grid-template-columns:1fr;

}


.contact-title{

font-size:55px;

}


}


@media(max-width:768px){


.contact-title{

font-size:45px;

}


.project-card h2{

font-size:26px;

}


.skill-box h2{

font-size:24px;

}


.achievement-card{

padding:35px;

}


}

/*=========================
APPLE MODAL
=========================*/


.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;


background:rgba(0,0,0,.45);


backdrop-filter:blur(15px);


justify-content:center;

align-items:center;


z-index:9999;

}




.modal-box{


width:700px;

max-width:90%;


background:
rgba(255,255,255,.85);


backdrop-filter:blur(25px);


padding:40px;


border-radius:25px;



box-shadow:
0 10px 40px rgba(0,0,0,.25);



position:relative;



animation:fade .4s ease;


}




.modal-box img{


width:100%;


height:300px;


object-fit:cover;


border-radius:15px;


margin-bottom:25px;


}




.modal-box h2{


font-size:35px;


margin-bottom:20px;


}




.modal-box p{


font-size:17px;


line-height:1.9;


color:#555;


}




.close{


position:absolute;


top:20px;


right:30px;



font-size:40px;


cursor:pointer;


transition:.3s;


}



.close:hover{


opacity:.5;


}




@keyframes fade{


from{


opacity:0;


transform:translateY(40px);


}



to{


opacity:1;


transform:translateY(0);


}


}

.skill-box{

background:white;

padding:40px;

border-radius:20px;

box-shadow:var(--shadow);

transition:.4s;

}



.skill-box:hover{


transform:translateY(-10px);


box-shadow:

0 10px 40px rgba(0,0,0,.1);


}



.skill-box h2{


margin-bottom:20px;


font-size:28px;


}



.skill-box p{


line-height:1.9;


color:#666;


}

.project-card,
.skill-box,
.achievement-card,
.info-box{

transition:0.4s;

}

.project-card:hover,
.skill-box:hover,
.achievement-card:hover,
.info-box:hover{

transform:translateY(-10px);

box-shadow:
0 15px 40px rgba(0,0,0,0.1);

}